services:
  server:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD}@db:5432/my_universe_doc_db
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app # Monte le code local dans le conteneur
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_DB: my_universe_doc_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql
    expose:
      - "5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
